.addressDetails {
  width: 70%;
  margin-right: 10px;
  padding-top: 20px;
  margin-left: 15px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
      font-weight: 500;
      font-size: 16px;
    }

    button {
      font-size: 13px;
      color: rgb(82, 110, 220);
      font-weight: 500;
      padding: 9px 20px 9px 20px;
      border: 0.5px solid #0000003b;
      border-radius: 3px;
      background: white;
    }
  }

  .addresses {
    .header {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    .otherAddress {
      height: fit-content;
    }
  }

  .addNewAddress {
    border: 0.5px dashed rgba(0, 0, 0, 0.486);
    font-weight: 500;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: white;
  }
}

.toScroll {
  height: 50vh !important;
  overflow-y: scroll;
}

.EachAddress {
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  &:hover {
    cursor: pointer;
  }

  .header {
    margin-bottom: 5px !important;
  }

  .description {
    margin-top: 0px;

    .address,
    .moreDetails,
    .mobile {
      font-size: 11px;
      margin: 0px;
      font-weight: 100;
      color: rgb(66, 69, 83);

      .number {
        font-weight: 500;
        color: black;
      }
    }

    .moreDetails {
      margin-bottom: 10px;
    }
  }
}

.displaynone {
  display: none;
}

.showElement {
  display: block;
}

.showOnChecked {
  margin-left: 0px;

  .address,
  .mobile {
    font-size: 11px;
    margin: 0px;
    font-weight: 100;
    color: rgb(66, 69, 83);

    .number {
      font-weight: 500;
      color: black;
    }
  }

  .actionBtns {
    display: flex;
    border-top: 0.5px solid rgba(0, 0, 0, 0.092);
    padding-top: 15px;
    padding-bottom: 10px;

    .action {
      width: 50%;
      text-align: center;
    }

    button {
      border: none;
      background: white;
      font-weight: 500;
      color: rgb(82, 110, 220);
      font-size: 13px;
    }
  }
}

.name {
  font-weight: 500;
  margin-right: 10px;
}

.belongsTo {
  font-size: 11px;
  color: #0000008a;
  padding: 1px 10px 1px 10px;
  border-radius: 10px;
  font-weight: 500;
  background: #0000001f;
  font-weight: 700;
}
.addAddressBtn{
    font-size: 13px;
    color: rgb(82, 110, 220);
    font-weight: 500;
    padding: 9px 20px 9px 20px;
    border: 0.5px solid #0000003b;
    border-radius: 3px;
    background: white;
}
.noAddress{
    margin: auto;
    text-align: center;
   .noAddressImage{
    background: url('/assets/profileDashboard/no-saved-address.svg');
    background-repeat: no-repeat;
    height: 140px;
    width: 140px;
    margin: auto;
   } 
   h4{
font-size: 13px;
font-weight: 500;
   }
   p{
    font-size: 11px;
    color: #0000007d;
   }
}
@media screen and (max-width:1400px) {
  

  .addressDetails{
    width: 70%;
  }
  
  
  }
@media screen and (max-width:900px) {
  

.addressDetails{
  width: 90%;
}


}