<div class="container fotter-container">
  <div class="fotter-details">
    <h5>ONLINE SHOPPING</h5>
    <a routerLink="products/womens"  class="anchor-tag-style font">Women</a>
    <a routerLink="products/mens" class="anchor-tag-style font">Men</a>
    <a routerLink="products/kids" class="anchor-tag-style font">Kids</a>
    <a routerLink="" class="anchor-tag-style font">Home & Living</a>
    <a routerLink="" class="anchor-tag-style font">Beauty</a>
    <a routerLink="" class="anchor-tag-style font">Gift Cards</a>
    <a routerLink="" class="anchor-tag-style font">Myntra Insider</a>
  </div>
  <div class="fotter-details">
    <h5>CUSTOMERS POLICIES</h5>
    <a  class="anchor-tag-style font pointer">Contact Us</a>
    <a  class="anchor-tag-style font pointer">FAQ</a>
    <a  class="anchor-tag-style font pointer">T&C</a>
    <a  class="anchor-tag-style font pointer">Terms Of Use</a>
    <a  class="anchor-tag-style font pointer" routerLink="/profile/orders">TracK Orders</a>
    <a  class="anchor-tag-style font pointer" routerLink="/profile/orders">Shipping</a>
    <a  class="anchor-tag-style font pointer" routerLink="/profile/orders">Cancellation</a>
  </div>
  <div class="fotter-details-2">
    <h5>EXPERIANCE MYNTRA APP ON MOBILE</h5>
    <div class="fotter-details-img">
      <img
        class="pointer"
        src="../../assets/homepageImages/fotter_img/img-1.png"
        alt=""
        srcset=""
      />
      <img
        class="pointer"
        src="../../assets/homepageImages/fotter_img/img-2.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="fotter-social-links">
      <h5>KEEP IN TOUCH</h5>
      <div>
        <i class="bi bi-twitter pointer"></i>
        <i class="bi bi-facebook pointer"></i>
        <i class="bi bi-youtube pointer"></i>
        <i class="bi bi-instagram pointer"></i>
      </div>
    </div>
  </div>
  <div class="fotter-section-3">
    <div>
      <img
        src="../../assets/homepageImages/fotter_img/img-3.png"
        alt=""
        srcset=""
      />
      <p class="font">
        <span>100% ORIGINAL</span> guarantee for all products at myntra.com
      </p>
    </div>
    <div>
      <img
        src="../../assets/homepageImages/fotter_img/img-4.png"
        alt=""
        srcset=""
      />
      <p class="font">
        <span>Return within 30 days</span> of receiving your order
      </p>
    </div>
  </div>
</div>
