.noProducts{
  .noProductsImage{
    width: 40%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }
  .description{
    font-weight: 500;
    font-weight: 12px;
    text-align: center;
  }
}
.ordersContainer {
  & > .header {
    padding: 10px 20px 0px 30px;
    h2 {
      font-size: 17px;
      margin-bottom: 0px;
    }
    p {
      font-size: 12px;
      margin-top: 0px;
      line-height: 8px;
    }
  }
  .pagination {
    margin: auto;
    width: fit-content;
    span {
      margin-right: 10px;
      font-size: 0.8rem;
    }
    .prevBtn,
    .nextBtn {
      color: rgb(255, 81, 127);
    }
  }
}

@media screen and (max-width:500px) {
  .ordersContainer{
    &>.header{
      padding: 10px 20px 0px 20px;
    }
  }
}
